# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.exe
FysikProject/Debug/FysikProject.ilk
*.sdf
FysikProject/FysikProject.opensdf
*.sdf
FysikProject/FysikProject.v12.suo
*.log
*.lastbuildstate
FysikProject/FysikProject/Debug/FysikProject.tlog/link.command.1.tlog
*.cache
FysikProject/FysikProject/Debug/InputHandler.obj
*.idb
FysikProject/FysikProject/Debug/vc120.pdb
*.filters
